1

In [2]:
expense = [2200,2350,2600,2130,2190]

In [3]:
expense[1]-expense[0]

150

In [4]:
sum(expense[:2])

4550

In [10]:
2000 in expense

False

In [11]:
expense.append(1980)

In [12]:
expense[3]=expense[2]-200

2

In [68]:
heros=['spider man','thor','hulk','iron man','captain america']

In [69]:
len(heros)

5

In [70]:
heros.append('black panther')

In [71]:
heros.remove('black panther')

In [72]:
heros.insert(3, 'black panther')

In [73]:
heros[1:3]=['doctor strange']

In [74]:
heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

In [75]:
heros.sort()

In [76]:
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

Max Number: 40

In [84]:
n = int(input('Max Number: '))
[m for m in range(3,n+1) if (m%2!=0)]

Max Number: 56

[3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55]